.a-comeUp{
    animation-name: comeUp;
    animation-timing-function: linear;
    animation-duration: 0.6s;
}

@keyframes comeUp {
    from {
        opacity: 0;
        transform: translateY(1rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}