.loginCard{
    width: 50%;
    margin: 0 auto; 
    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.7);
    padding: 4rem;
}

.loginCard__header{
    width: 100%;
    height: 20%;
    border-bottom: 0.5rem solid var(--accent-color);
}

.loginCard__heading{
    font-size: 300%;
    font-weight: 400;
}

.loginCard__body{
    height: 80%;    
}

.loginCard__wrapper{
    margin-top: 2rem;
}

.loginCard__label{
    display: block;
    font-size: 200%;
    margin-bottom: 0.5rem;
}

.loginCard__input{
    width: 100%;
    box-sizing: border-box;
    font-family: inherit;
    border: none;
    font-size: 200%;
}

.loginCard__input:focus{
    outline: 0;
    border: 0.5rem solid var(--accent-color);
}

.loginCard__button{
    margin-top: 4rem;
    margin-bottom: 4rem;
    box-sizing: border-box;
    border: none;
    font-size: 180%;
    color:var(--font-color);
    background-color: var(--accent-color);
    height: 7rem;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    position:relative;
}

.loginCard__button:hover{
    cursor: pointer;
}

.loginCard__button--3D{
    background-color: #b6002e;
}

.loginCard__button--3D::before{
    content:"Login";
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 0.5rem);
    width: 100%;
    background-color: var(--accent-color);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginCard__button--3D:active::before{
    height: 100%;    
}

/* till 800px */
@media (max-width: 46.875rem) {
    .loginCard{
        box-shadow: none;
        padding: 0;
        font-size: 80%;
        width: 100%;        
    }
    
    .loginCard__input{
        width: 100%;
        font-size: 150%;
    }
}