.lovedButton{
    position: fixed;
    right: 10%;
    top: 10%;
    width: 6rem;
    height: 6rem;
    background-color: white;
    outline: none;
    border: none;
    z-index: 1;
    transform: rotate(45deg);
<<<<<<< HEAD
=======
    transition: 0.6s;
>>>>>>> 6a5d77c33f0dff4c9ebee51ad9d75277fae224aa
}

.lovedButton::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    transform: translateX(-50%);
    border-radius: 50%;
<<<<<<< HEAD
=======
    transition: 0.6s;
>>>>>>> 6a5d77c33f0dff4c9ebee51ad9d75277fae224aa
}

.lovedButton::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    transform: translateY(-50%);
    border-radius: 50%;
<<<<<<< HEAD
=======
    transition: 0.6s;
>>>>>>> 6a5d77c33f0dff4c9ebee51ad9d75277fae224aa
}

.lovedButton[data-pressed="true"], .lovedButton[data-pressed="true"]::before, .lovedButton[data-pressed="true"]::after{ 
    background-color: var(--accent-color);
}

.lovedButton:hover, .lovedButton::before, .lovedButton::after{
    cursor: pointer;
}

<<<<<<< HEAD
=======
.lovedButton:active{
    transform: scale(0.8) rotate(45deg);
}

.lovedButton[data-filter="grayscale"], .lovedButton[data-filter="grayscale"]::before, .lovedButton[data-filter="grayscale"]::after {
    filter: grayscale(100%);
}



>>>>>>> 6a5d77c33f0dff4c9ebee51ad9d75277fae224aa
/* until 800 px */
@media (max-width: 46.875rem) {
    .lovedButton{     
        top: auto;
        bottom: 5%;
        width: 4rem;
        height: 4rem;       
    }
}